form {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  margin-left: 100px;
  margin-top: 100px;
  background: rgb(197, 197, 197);
  padding: 20px;
  border-right: 30px solid rgb(167, 45, 45);
  border-radius: 15px 0 0 15px;
}

form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  box-shadow: 3px 3px 3px rgb(99, 98, 98);
}

.checkbox-container input {
  width: 10%;
  box-shadow: none;
}

button {
  width: 20%;
  margin-left: 35%;
  margin-top: 40px;
  height: 30px;
  width: 90px;
  box-shadow: 3px 3px 3px rgb(99, 98, 98);
}

.error {
  color: red;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.login-form {
  display: flex;
}

.user-list {
  width: 600px;
  height: 400px;
  background: rgb(197, 197, 197);
  margin-top: 100px;
  margin-left: 50px;
  border-left: 30px solid rgb(167, 45, 45);
  border-radius: 0 15px 15px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
